<SCRIPT>
function ShowAndHide() {
    var x = document.getElementById('SectionName');
    if (x.style.display == 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</SCRIPT>

<h2>Your User Profile</h2>

<h4><span STYLE="font-weight: normal;">Currently Logged in As:  </span><%= current_user.username %> </h6>

<h4><span STYLE="font-weight: normal;">Your Email on Record for Finstagram:  </span><%= current_user.email %> </h6>

<h4><span STYLE="font-weight: normal;">Profile photo:  </span><img src="<%= current_user.avatar_url %>" alt="<%= current_user.username %>" width=75px height=75px></h5>

<h4>
    <span STYLE="font-weight: normal;">User Password:</span> 
    <br>
    <BUTTON ONCLICK="ShowAndHide()">Click to show password.</BUTTON>
    <br><br>
    <DIV ID="SectionName" STYLE="display:none" ><%=current_user.password %></DIV>
</h4>




<footer>
    <a href="/"><h5> Return To Main Page </h5></a>
</footer>